# This repository is owned by the UDS CLI team
# This repository was previously owned by the Software Factory Team who remain
# here in order to unblock review/release/support while CLI team takes total
# ownership of the project (2025-03-13 - Dave Worth)
* @defenseunicorns/uds-cli @defenseunicorns/swf

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
/LICENSE @jeff-mccoy @austenbryan
