name: Validate Lint
on: pull_request

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        uses: ./.github/actions/golang

        # will run golangci-lint 2x due to pre-commit hook
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

      - name: Run pre-commit
        uses: pre-commit/action@1b06ec171f2f6faa71ed760c4042bd969e4f8b43 #
        with:
          extra_args: --all-files --verbose # pre-commit run --all-files --verbose
