name: Validate Lint
on: pull_request

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup golang
        uses: ./.github/actions/golang

        # will run golangci-lint 2x due to pre-commit hook
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest

      - name: Run pre-commit
        uses: pre-commit/action@1b06ec171f2f6faa71ed760c4042bd969e4f8b43 #
        with:
          extra_args: --all-files --verbose # pre-commit run --all-files --verbose
