name: Validate Schema
on:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Docs and schemas
        run: make test-schema

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
